//Les mixins peuvent être vues comme des fonctions qui peuvent avoir des paramètres en entrée et du CSS en sortie
@mixin themePosition($bg-color, $txt-color) {
    background-color: $bg-color;
    color: $txt-color;
    margin-bottom: $standart-margin;
}