//Les uses doivent être en tout premier
@use 'variables' as variables;

//Les mixins peuvent être vues comme des fonctions qui peuvent avoir des paramètres en entrée et du CSS en sortie
@mixin themePosition($bg-color, $txt-color) {
    background-color: $bg-color; //paramètre de la mixin
    color: $txt-color; //paramètre de la mixin
    margin-bottom: variables.$standart-margin; //variable issu du fichier variables.scss
}

@mixin center{
    text-align: center;
    justify-content: center;
    margin: auto;
}