//Les uses doivent être en tout premier
@use 'variables' as variables;
@use 'mixins' as mixins;

//Css classiques
.essai input {
    width: 30px;
    height: 30px;
    text-transform: uppercase;
    @include mixins.center;
}

#grid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @include mixins.center;
    
}

.goodPos {
    @include mixins.themePosition(variables.$success-bg-color, variables.$success-txt-color);
}

.badPos {
    @include mixins.themePosition(variables.$warning-bg-color, variables.$warning-txt-color);
}

.nothing {
    @include mixins.themePosition(variables.$nothing-bg-color, variables.$nothing-txt-color);
}

//Boucle
@for $i from 1 through 5 {
    .mb-#{$i} {
        margin-bottom: $i * variables.$standart-margin;
    }
    .mt-#{$i} {
        margin-top: $i * variables.$standart-margin;
    }
}

//Héritage
#id > p {
    margin-top: 5px;
    &:hover {
        color: blue;
        cursor: pointer;
    }
    & > p {
        color: red;
        & span {
            color: white;
        }
    }
}