//Les uses doivent être en tout premier
@use 'variables.scss';
@use 'mixins.scss';

//Css classiques
.essai input {
    width: 30px;
    height: 30px;
    text-transform: uppercase;
    @include center;
}

#grid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @include center;
    
}

.goodPos {
    @include themePosition($success-bg-color, $success-txt-color);
}

.badPos {
    @include themePosition($warning-bg-color, $warning-txt-color);
}

.nothing {
    @include themePosition($nothing-bg-color, $nothing-txt-color);
}

//Boucle
@for $i from 1 through 5 {
    .mb-#{$i} {
        margin-bottom: $i * $standart-margin;
    }
    .mt-#{$i} {
        margin-top: $i * $standart-margin;
    }
}

//Héritage
#id > p {
    margin-top: 5px;
    &:hover {
        color: blue;
        cursor: pointer;
    }
    & > p {
        color: red;
        & span {
            color: white;
        }
    }
}