//Les uses doivent être en tout premier
@use 'variables' as variables;
@use 'mixins' as mixins;
//Css classiques
#main {
    display: flex;
    flex-direction: column;
    width: 80%;
    @include mixins.center;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.check {
    @include mixins.themePosition(variables.$success-bg-color, variables.$success-txt-color);
}

.uncheck {
    @include mixins.themePosition(variables.$warning-bg-color, variables.$warning-txt-color);
}

.nothing {
    @include mixins.themePosition(variables.$nothing-bg-color, variables.$nothing-txt-color);
}

//Boucle
@for $i from 1 through 5 {
    .mb-#{$i} {
        margin-bottom: $i * variables.$standart-margin;
    }
    .mt-#{$i} {
        margin-top: $i * variables.$standart-margin;
    }
}

//Héritage
#main>div {
    & span {
        font-style: italic;
        &.highlight:hover {
            cursor: pointer;
        }
    }
}